@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -18rem /* The image height */, 0);
  }
}

.slide {
  animation: slide 5s linear infinite;
}
